<div>
    Welcome to console!!! 
    
    <section>
        { Weather forecast }
    </section>
    
    <section>
        { Temperature logs chart }
    </section>
    
    <section>
        { Current Sensors data }
    </section>
    
    <section>
        Chart Filter <input type="text" ng-model="val" />
        <div ng-repeat="point in chartData | filter:val">
            <div> {{point.id}} - Value {{point.value}} </div>
            <div>Atata</div>
        </div>
    </section>

</div>
