<div>
    <form ng-submit="save()" novalidate name="resources_form">
        <h2>Welcome to Resources view</h2>
        <div ng-repeat="(role, drivers) in data">
            <h3>role: {{role}}</h3>
            <div ng-repeat="(driver,resources) in drivers">
                <h5>driver: {{driver}}</h5>
                <div ng-repeat="(key,item) in resources">
                    <input type="hidden" name="id" ng-model="item.id" />
                    <span>id: {{item.id}}</span> |
                    Status: 
                    <select name="status" ng-model="item.status" convert-to-number ng-options="option.value as option.name for option in resourceStatus" required>
                        <option value="">Select Status</option>
                    </select> |
                    <span>name: <input type="text" ng-model="item.name" name="name"  required /></span> |
                    <span>address:
                    <select name="address" ng-model="item.address" ng-options="address.value as address.value disable when optionDisabled(address.value, driver, role, item.$$hashKey) for address in lib[role].drvs[driver].addresses" required>
                        <option value="">Select Status</option>
                    </select> |
                    {{item.address}}
                    </span>
                    <span>actual value: {{item.actual_val}}</span>
                    <span style="cursor: pointer" ng-click="removeItem(role, driver, key, item.id)">X [DELETE]</span>
                </div>
            </div>
        </div>
        <div class="buttons">
            <select id="role" ng-model="selected_role" ng-options="role.value as role.name for role in lib"></select>
            <select id="drv" ng-model="selected_drv" ng-options="drv.name as drv.name for drv in lib[selected_role].drvs"></select>
            <button ng-click="addNewItem()" ng-disabled="selected_drv === undefined" type='button'>
                Add New Resource
            </button>
            <input type="submit" id="submit" value="Save" ng-disabled="resources_form.$invalid" />
            <input type="button" ng-click="resetForm(resources_form)" value="Reset" />
         </div>
    </form>
</div>